{% extends "basic.html" %}
{% block body %}
{% block blogactive %} active {% endblock blogactive %}
{% block title %} Welcome to our blog {% endblock %}
<br><br>
<div class="container shadow mt-2">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

        <!-- Blog Post -->
        <br>
          <div class="card mb-4 border-0">
          	<span class="border-0"></span>
              {% for post in posts %}
            <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
              <div class="card-body">

              <h2 class="card-title"><a href="/blog/{{post.slug}}" class="text-dark">{{ post.title }}</a></h2>
              <p class="card-text">{{ post.content|slice:"0:200"|safe }} . . .</p>
              </div>
              <div class="text-muted mx-4">
                Date & Time : {{ post.time }}
              </div>
              <div class="text-muted mb-4 mx-4">By - {{ post.author }}</div>
              <a href="/blog/{{post.slug}}" class="btn btn-primary">Read More &rarr;</a>
              {% endfor %}


        <br>
          </div>
      </div>
    </div>
</div>

{% endblock %}